.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
.codex
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
/opencode.json
a.out
target
.scripts
.direnv/

.env*

.devstate/

.claude/
CLAUDE.md


# Local dev files
opencode-dev
logs/
*.bun-build
tsconfig.tsbuildinfo
